Data Science Tools and Ecosystem

2.Create a markdown cell for an introduction.

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

    List popular languages that Data Scientists use.
    List commonly used libraries used by Data Scientists.
    Comment on Data Science tools.

 3.Create a markdown cell to list data science languages.
 
 Some of the popular languages that Data Scientists use are:

    Python.
    R.
    SQL.
    Java.
    Julia.
    Scala.

4. Create a markdown cell to list data science libraries.
Some of the commonly used libraries used by Data Scientists include:

    TensorFlow.
    NumPy.
    SciPy.
    Pandas.
    Matplotlib.
    Keras.
    SciKit-Learn.

5.Create a markdown cell with a table of Data Science tools
|Data science tool |
|-----|
|SAS. It is one of those data science tools which are specifically designed for statistical operation |
|Apache Spark|
|BigML|

6. Create a markdown cell introducing arithmetic expression examples

In [1]:
# Arithmetic operations
print(2+3+5)
# Result: 10

10

In [2]:
# multiple and add two number 
print((2+3)*2*2)
#result: 20

20

8. Create a code cell to convert minutes to hours

In [5]:
# we know 1 hr=60min
# so 1 min = (1/60 )hr  that is 
minutes_in_hour=100
convert_min_to_hour=minutes_in_hour/60
print(convert_min_to_hour)

1.6666666666666667

9.Insert a markdown cell to list Objectives.
 list the objectives that this notebook covered
 
 objective:
 
 
 1. data science languages 
 2. data science tools
 3. notebook basic functions

AUTHOR:
PRATEEK